.email-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 7.4rem;
    background-color: var(--bright-orange);
}

.email-section h2 {
    color: var(--light-grey);
    font-weight: 700;
    font-size: 3rem;
    width: 37%;
}

.contact-btn.light {
    background-color: #fff;
    color: var(--primary-color);
}

.contact-btn.light:hover {
    box-shadow: 0.1rem 0.1rem 1.3rem #fff;
}

@media (max-width: 899px) {
    .email-section {
        justify-content: center;
    }

    .email-section h2 {
        text-align: center;
        width: 100%;
        line-height: 3.2rem;
        margin-bottom: 2rem;
    }

    .contact-btn.light {
        font-size: 1.2rem;
    }
}