.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eee;
    padding: 40px 0;
}

.header div img {
    margin-top: 5px;
}

.header .nav-bar ul {
    display: flex;
    flex-flow: row wrap;
}

.header .nav-bar ul li {
    font-weight: 500;
    margin-right: 5rem;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.header .nav-bar ul li:hover {
    color: var(--light-font-hover);
}