.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 0;
}

.header .logo {
    margin-top: 0.5rem;
}

.header .nav-bar {
    z-index: 2;
}

.header .nav-bar ul {
    display: flex;
    flex-flow: row wrap;
}

.header .nav-bar ul li a {
    font-weight: 500;
    margin-right: 5rem;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.header .nav-bar ul li a:hover {
    color: var(--dark-grayish-blue);
}

.header .mobile-nav-bar {
    display: none;
}

.header .menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0.9rem;
    margin-right: 0.5rem;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 2;
}

.header .hamburger {
    background-color: var(--secondary-color);
    position: relative;
    display: block;
    width: 3.25rem;
    height: 2px;
    padding: 3px;
    top: 29px;
    left: 15px;
    transition: .2s ease-in-out;
}

.header .hamburger:before, 
.header .hamburger:after {
    background-color: var(--secondary-color);
    content: "";
    display: block;
    width: 3rem;
    height: 0.2rem;
    left: 0;
    padding: 2.5px 1.5px 1.5px 1.5px;
    position: absolute;
    transition: .2s ease-in-out;
}

.header .hamburger:before {
    top: -10px;
}

.header .hamburger:after {
    bottom: -10px;
}

.header input:checked ~ label .hamburger {
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

.header input {
    display: none;
}

@media (max-width: 921px) {
    .header .logo {
        position: absolute;
        left: 0;
        margin-left: 2rem;
    }

    .header .menu {
        display: block;
    }

    .header .contact-btn {
        display: none;
    }

    .header .nav-bar {
        display: none;
    }

    @keyframes drop {
        from{
            transform: translateY(-100px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
        }
    }

    .header .mobile-nav-bar {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 250px;
        border-radius: 5px;
        background-color: #fff;
        animation: drop .3s;
        z-index: 2;
    }


    .header .mobile-nav-bar ul {
        display: flex;
        flex-flow: column nowrap;
    }

    .header .mobile-nav-bar ul li {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .header .mobile-nav-bar ul li:last-child {
        margin-bottom: 0;
    }

    .header .mobile-nav-bar ul li a {
        margin: 0;
    }

    .header input:checked ~ .mobile-nav-bar {
        display: flex;
    }
}