.hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /* width: 70%;
    margin: 0 auto; */
}

.hero .image img  {
    max-width: 425px;
    width: 100%;
}

.hero .text h2 {
    font-weight: 700;
    font-size: 3rem;
    width: 30%;
    
}

/* .about, .clients, .ad, footer {
    display: none;
} */