/* .header, .hero, */ .clients/* , .ad, footer */ {
    display: none;
}

@media (max-width: 1294px) {
    .hero {
        flex-flow: column-reverse wrap;
        margin: 5rem auto 10rem auto;
        padding: 0 18px;
        width: 100%;
        justify-content: center;
        align-content: center;
        margin-bottom: 6rem;
    }

    .hero .image img {
        width: 100%;
        margin: 0 auto;
    }

    .hero .text {
        text-align: center;
        margin: 0 auto;
    }

    .hero .text p,
    .hero .text h2 {
        width: 100%;
    }

    .hero .text h2 {
        font-size: 3.5rem;
    }

    .hero .text p {
        font-size: 1.6rem;
        line-height: 2.1rem;
    }
}

@media (max-width: 921px) {
    .show {
        display: block;
    }

    .header .logo {
        position: absolute;
        left: 0;
        margin-left: 2rem;
    }

    .header .menu {
        display: block;
    }

    .header .contact-btn {
        display: none;
    }

    .header .nav-bar {
        display: none;
    }

    @keyframes drop {
        from{
            transform: translateY(-100px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
        }
    }

    .header .mobile-nav-bar {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 250px;
        border-radius: 5px;
        background-color: #fff;
        animation: drop .3s;
        z-index: 2;
    }


    .header .mobile-nav-bar ul {
        display: flex;
        flex-flow: column nowrap;
    }

    .header .mobile-nav-bar ul li {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .header .mobile-nav-bar ul li:last-child {
        margin-bottom: 0;
    }

    .header .mobile-nav-bar ul li a {
        margin: 0;
    }

    .header input:checked ~ .mobile-nav-bar {
        display: flex;
    }
}

@media (max-width: 799px) {
    .about {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
    }

    .about .text {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;
    }

    .about .text h2 {
        width: 49%;
        line-height: 3.7rem;
    }

    .about .text p {
        line-height: 3rem;
        font-size: 1.8rem;
    }

    .about .cards {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .about .cards .card {
        text-align: left;
    }

    .about .cards .card div {
        justify-content: center;
        margin-left: 0;
    }

    .about .cards .card div h3 {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 25px;
        background-color: #fcbbab;
        margin-bottom: 15px;
    }

    .about .cards .card .first h3:before,
    .about .cards .card .second h3:before,
    .about .cards .card .third h3:before {
        padding: 0.8rem 2rem;
        background-color: var(--primary-color);
        color: var(--light-grey);
        border-radius: 2.5rem;
        margin-right: 1.5rem;
    }

    .about .cards .card .first h3:before {
        content: "01";
    }

    .about .cards .card .second h3:before {
        content: "02";
    }

    .about .cards .card .third h3:before {
        content: "03";
    }

    .about .cards .card span {
        display: none;
    }
}

@media (max-width: 398px) {
    .about .cards .card div h3 {
        font-size: 1.2rem;
    }

    .about .cards .card div p {
        font-size: 1.1rem;
    }
}

@media (max-width: 360px) {
    .hero .text h2 {
        font-size: 2.3rem;
        line-height: 2.9rem;
    }
}